<h1>Scores</h1>
<br>
<div class="container">
  <div class="flex">
  <% letters = params[:name].upcase.split('') %>
  <% letters.each do |letter| %>
    <p><strong><%= letter %></strong></p>
  <% end %>
  </div>
</div>

<br>
<%= @results %>
<br>
<br>
<%=link_to "< Try again", new_path%>

